<a href="https://colab.research.google.com/github/KarthigeyanSK/KarthigeyanSK/blob/main/KARTHIGEYAN.S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = True
b = False
print('a=',a , 'b=',b)
a = False
print('a=',a , 'b=',b)

a= True b= False
a= False b= False

In [ ]:
dividend, divisor =eval(input('please enter two numbers to divide:  '))
if divisor  !=0:
  print(dividend,  '/',  divisor,  '=', dividend/divisor)

please enter two numbers to divide:  2,6
2 / 6 = 0.3333333333333333

In [ ]:
dividend = int(input('enter the dividend value:  '))
divisor = int(input('enter the divisor value:  '))
if divisor  !=0:
  quotient = dividend/divisor
  print(dividend,'/', divisor, '=',quotient)
  print('program finished')

enter the dividend value:  4
enter the divisor value:  9
4 / 9 = 0.4444444444444444
program finished

In [ ]:
dividend = int(input('enter the dividend value:  '))
divisor = int(input('enter the divisor value:  '))
if divisor  !=0:
  quotient = dividend/divisor
  print(dividend,'/', divisor, '=',quotient)
  print('program finished')

enter the dividend value:  2
enter the divisor value:  4
2 / 4 = 0.5
program finished

In [ ]:
dividend = int(input('please enter the dividend value:  '))
divisor = int(input('please enter the divisor value:  '))
if divisor  !=0:
  print(dividend,'/',divisor,'=', dividend/divisor)
else:
  print('division by zero is not allowed')

please enter the dividend value:  3
please enter the divisor value:  45
3 / 45 = 0.06666666666666667

In [ ]:
dividend = int(input('please enter the dividend value:  '))
divisor = int(input('please enter the divisor value:  '))
if divisor  !=0:
  print(dividend,'/',divisor,'=', dividend/divisor)
else:
  print('division by zero is not allowed')

please enter the dividend value:  77
please enter the divisor value:  99
77 / 99 = 0.7777777777777778

In [ ]:
value = eval(input('please enter an integer in the range  0...5:  '))
if value < 0:
  print('too small')
else:
  if value ==0:
    print('zero')
  else:
    if value ==1:
      print('one')
    else:
      if value ==2:
        print('two')
      else:
        if value ==3:
          print('three')
        else:
          if value ==4:
            print('four')
          else:
            if value ==5:
              print('five')
            else:
              print('too large')

              print('done')

please enter an integer in the range  0...5:  4
four

In [ ]:
value = eval(input('please enter an integer in the range  0...5:  '))
if value < 0:
  print('too small')
elif value ==0:
  print('zero')
elif value ==1:
    print('one')
elif value ==2:
      print('two') 
elif value ==3:
        print('three')
elif value ==4:
          print('four')
elif value ==5:
            print('five')
else:
              print('too large')


              print('done')

please enter an integer in the range  0...5:  3
three

In [ ]:
value = eval(input('please enter an integer value in the range  0.....10:  '))
if value >=0:
  print('in range')
  print('done')
else:
  print('out of range')
  print('done')

please enter an integer value in the range  0.....10:  7
in range
done

In [ ]:
value = eval(input('please enter an integer value in the range  0.....10:  '))
if value <=10:
  print('in range')
  print('done')

please enter an integer value in the range  0.....10:  3
in range
done

In [ ]:
value = eval(input('please enter an integer value in range  0.....10:  '))
if value >=0 and value <=10:
  print('in range')
  print('done')

please enter an integer value in range  0.....10:  2
in range
done

In [ ]:
value = eval(input('please enter an integer value in range  0.....10:  '))
if value  >=0:
  if value  <=10:
    print(value,  'value is in range')
  else:
      print(value,  'value is too long')
else:
  print(value,  'is too short')
  print('done')

please enter an integer value in range  0.....10:  7
7 value is in range

In [ ]:
dividend, divisor = eval(input('enter dividend, divisor :  '))
msg = dividend/divisor if divisor !=0 else 'error, cannot divided by zero'
print(msg)

enter dividend, divisor :  6,8
0.75

In [ ]:
count = 1
while count <= 5:
  print(count)
  count +=1

1
2
3
4
5

In [ ]:
entry = 0
sum = 0
print('enter numbers to sum, negative numbers ends list:  ')
while entry >=0:
  entry = eval(input())
  if entry >=0:
    sum += entry
    print('sum=', sum)

enter numbers to sum, negative numbers ends list:
4
sum= 4
5
sum= 9
6
sum= 15
7
sum= 22
8
sum= 30
9
sum= 39
1
sum= 40
2
sum= 42
3
sum= 45
4
sum= 49
5
sum= 54
6
sum= 60
-7

In [ ]:
n = 1
while n <= 10:
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = 1
stop = int(input())
while n <= stop:
  print(n)
  n += 1

3
1
2
3

In [ ]:
done = False
while not done:
  entry = eval(input())
  if entry == 999:
    done = True
  else:
      print(entry)

5
5
6
6
7
7
9
9
-7
-7
999

In [ ]:
for n in range(21, 0, -3):
  print(n,'',end='')

21 18 15 12 9 6 3

In [ ]:
print('      1  2  3  4  5  6  7  8  9  10')
print('     <------------------------------')
for row in range(1,11):
  if row < 10:
    print('  ', end='')
  print(row, '|', end='')
  for column in range(1,11):
     product = row*column;
     if product < 100:
       print(end='')
       if product < 10:
         print(end='')
     print(product, end='') 
  print()

      1  2  3  4  5  6  7  8  9  10
     <------------------------------
  1 |12345678910
  2 |2468101214161820
  3 |36912151821242730
  4 |481216202428323640
  5 |5101520253035404550
  6 |6121824303642485460
  7 |7142128354249566370
  8 |8162432404856647280
  9 |9182736455463728190
10 |102030405060708090100

In [ ]:
for first in 'ABC':
  for second in 'ABC':
    if second != first:
      for third in 'ABC':
        if third != first and third != second:
          print(first+second+third)

ABC
ACB
BAC
BCA
CAB
CBA

In [ ]:
entry = 0
sum = 0
print('enter numbers to sum, negative numbers ends list:  ')
while True:
  entry = eval(input())
  if entry < 0:
    break
    sum += entry
    print('sum=', sum)

enter numbers to sum, negative numbers ends list:
4
7
8
9
-6

In [ ]:
sum = 0
done = False;
while not done:
  val = eval(input('enter the positive integer(999 quits):  '))
  if val < 0:
    print('negative value', val , 'ignored')
    continue;
  if val != 999:
    print('tallying', val)
    sum += val
  else:
    done = (val == 999);
print('sum=' , sum )

enter the positive integer(999 quits):  6
tallying 6
enter the positive integer(999 quits):  5
tallying 5
enter the positive integer(999 quits):  7
tallying 7
enter the positive integer(999 quits):  999
sum= 18

In [ ]:
sum = 0
done = False;
while not done:
  val = eval(input('enter the positive integer(999 quits):  '))
  if val < 0:
    print('negative value', val , 'ignored')
    continue;
  if val != 999:
    print('tallying', val)
    sum += val
  else:
    done = (val == 999);
print('sum=' , sum )

enter the positive integer(999 quits):  55
tallying 55
enter the positive integer(999 quits):  55
tallying 55
enter the positive integer(999 quits):  55
tallying 55
enter the positive integer(999 quits):  66
tallying 66
enter the positive integer(999 quits):  999
sum= 231